{% extends "header.html" %}

{% block content %}

<link rel="stylesheet" href="static/search_results.css">
<div style="text-align: center"><i>{{search_results|length}} Books Lended</i></div>
<div style="overflow: scroll; height:550px;">
<div class = "search_results">
{% for result in search_results %}
{% if result['status'] == 'accepted' %}
<div class = "book_details" >
{% else %}
<div class="book_details" style="background-image:linear-gradient(to bottom right, rgb(147, 228, 122), #ffffff); " onclick="show()">
{% endif %}
        <img src = "{{ result['imageurl'] }}" alt="{{result['title']}}" class = "book_image" >
        <div class = "book_details_display" >
            <br><br>
            <p class = "book_name">{{result['title']}}</p>
            <div class="author" ><span>-by </span><p class = "author_name">{{ result['author'] }}</p></div>
            <br><b>Borrower: </b>{{result['borrower_name']}}<br>
            <b>Email: </b>{{result['borrower']}}<br>
            <b>Phone: </b></b>{{result['phone']}}
            {% if result['status'] == 'accepted' %}
            <form action="/returned" method="post">
                <input type="hidden" value="{{result['transactionID']}}" name="transactionID"/>
                <button style="padding:5px; margin-top:5px; border-radius: 5px;" onmouseover="this.style.backgroundColor='lightgreen';" onmouseout="this.style.backgroundColor='';"><i class="fa fa-check"></i> Returned by Borrower</button>
            </form>

            {% else %}
            <br>
            <b>Book is returned.</b>
            {% endif %}
        </div>
        
    </div>
{% endfor %}
</div>
</div>
</div>
<br><br><br><br>
{% endblock %}