{% extends "header.html" %}
{% block content %}
<link rel="stylesheet" href="static/request_confirm.css">
<div class="payment__container">
    <h3 class="payment__container-heading">Borrow request taken back!</h3>
    <img class="payment__container-image" src="static/undo.svg" alt="Taken back"/>
    <h3 class="payment__container-welcome">{{result['title']}}</h3>
    <p class="payment__container-text">Request has been taken back.</p><br>
    <img src="{{imageurl}}" style="width:150px; height:200px; border: 2px solid black">
    
  </div>

{% endblock %}